/* topo */
#topo{
    background-color: rgba(255, 255, 255, 0.79);
    max-height: 40px;
    display: flex;
    padding: 10px;
    justify-content: space-between;

}
#logo{

    height: 60px;
    border-radius: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F8AFC6;
}

/* textos */
#conteudo-principal{

    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    display: flex;
    flex-direction: column;
    color: #5f5f5f;
    padding: 10% 0px 10% 0px;
    align-items: center;
    justify-content: center;
    background-color: #FDF2F6;
}

#sobre{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    display: flex;
    flex-direction: column;
    color: #5f5f5f;
    margin:  0px 0px;
    padding: 10% 0px 10% 0px;
    align-items: center;
    justify-content: center;
    background-color: #F39DBB;
}
article{
    display: flex;
    gap: 2px;
} 
.paragrafo{
    align-self: center;
    justify-self: start;
}
#img-alimentos{
    margin: 10px;
}