/* topo */
#topo{
    background-color: rgba(255, 255, 255, 0.79);
    max-height: 70px;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 20px;

}
#logo{

    height: 60px;
    border-radius: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F8AFC6;
}

/* textos */
#conteudo-principal{

    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    display: flex;
    flex-direction: column;
    color: #5f5f5f;
    padding: 10px 0px 10px 0px;
    align-items: center;
    justify-content: center;
    background-color: #a7d8ff;
}

#sobre{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    display: flex;
    flex-direction: column;
    color: #5f5f5f;
    margin:  0px 0px;
    padding: 10px 0px 10px 0px;
    align-items: center;
    justify-content: center;
    background-color: #F39DBB;
}
article{
    display: flex;
    gap: 2px;
} 
.paragrafo{
    align-self: center;
    justify-self: start;
    text-align: justify;
    font-size: medium;
    padding: 0 10px 0 10px;
}
#img-alimentos{
    margin: 10px;
    max-width: 120px;
}
.p-separar{
    padding: 10px;
}
.monetizar{
    max-width: 200px;
    max-height: 200px;
    margin: 3px;
}
#monetizar{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    display: flex;
    flex-direction: column;
     gap: 10px;
    color: #5f5f5f;
    margin:  0px 0px;
    padding: 10px 0px 10px 0px;
    align-items: center;
    justify-content: center;
    background-color: #7FC5FF;
}
.m{
    padding: 30px;
    background-color: azure;
    border-radius: 40px;
   margin-right: 20px;
}

a{
    text-decoration: none;
    color: #5f5f5f;
    
}